<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../public/css/home.css" rel="stylesheet" type="text/css" >
    <!-- <link rel="stylesheet" type="text/css" href="/css/home.css"> -->
</head>
<body>
    <div class="main">
        Welcome to CloudLock
    </div>
</body>
</html>