<%include ./partials/header%>
<%include ./partials/navbar%>
<style>
    *{
        font-family: 'Ubuntu',sans-serif
    }
    .heading{
        text-align: center;
        font-size:50px;
        margin:20px;
    }
    i{
        margin-right:10px;
    }
</style>
              
    <h1 class="heading"><i class="fas fa-unlock-alt"></i>Welcome to CloudLock</h1>
    

    <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Photo</th>
                <th scope="col">Last Checked In</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <%for(let i = 0; i < users.length; i++){%>
                <tr><td> <%=users[i]["key"]%></td></tr>
              <%}%> 
              </tbody>
        </table>
      
    <button type="button" class="btn btn-primary" onclick="addUser()">Add User</button>

<%include ./partials/footer%>
