<%include ./partials/header%>

<style>
    *{
        font-family: 'Ubuntu',sans-serif
    }
    .heading{
        text-align: center;
        font-size:50px;
        margin:20px;
    }
    i{
        margin-left:10px;
    }
</style>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/kIlnLI0.png" width="70" height="70"  alt="">
            CloudLock              
        </a>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/graphs">Graphs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text">
            Navbar text with an inline element
          </span>
        </div>
      </nav>

              
    <h1 class="heading"><i class="fas fa-unlock-alt"></i>Welcome to CloudLock</h1>
    

    <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Photo</th>
                <th scope="col">Last Checked In</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <%for(let i = 0; i < users.length; i++){%>
                <tr><td> <%=users[i]["key"]%></td></tr>
              <%}%> 
              </tbody>
        </table>
      
    <button type="button" class="btn btn-primary" onclick="addUser()">Add User</button>

<%include ./partials/footer%>
